<!DOCTYPE html>
{% load i18n%}

{% load static %}
{% get_media_prefix as MEDIA_URL %}

<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="sohaib aslam">
    {% for seo in SEOTAGS %}
    {% block title %}<title>{{ seo.title }}</title>{% endblock title %}
    <meta name="description" content="{{ seo.description }}">
    <meta name="keywords" content="{{ seo.tags }}">
    <link rel="canonical" href="{{ seo.canonical_link }}">
    {% endfor %}
    <meta name="robots" content="index, follow">

    <!-- FAVICONS ICON -->
    <link rel="icon" href={% static 'Assets/dronza_images/favicon.html' %} type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href={% static 'Assets/dronza_images/favicon.png' %} />


    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/bootstrap.min.css' %}>
    <!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/fontawesome/css/font-awesome.min.css' %}>

    <!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/owl.carousel.min.css' %}>

    <!-- SLICK SLIDER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/slick.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/slick-theme.css' %}>
    <!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/bootstrap-select.min.css' %}>
    <!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/magnific-popup.min.css' %}>
    <!-- LOADER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/loader.min.css' %}>
    <!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/style.css' %}>
        <!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/flaticon.min.css' %}>
    <!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" class="skin" type=text/css" href={% static 'Assets/dronza_css/skin/skin-1.css' %}>
    <!-- SIDE SWITCHER STYLE SHEET -->






     <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_plugins/revolution/revolution/css/settings.css' %}>
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_plugins/revolution/revolution/css/navigation.css' %}>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

 <!-- Google Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3385081203421289"
     crossorigin="anonymous"></script>

<style>
    .link_color{
        color: #db253b;
    }
</style>

</head>

<body style="transform: none;">

    <div class="page-wraper" style="transform: none;">

          <div class="page-wraper">

        <!-- HEADER START -->
        <header class="site-header header-style-4 mobile-sider-drawer-menu">

           <div class="sticky-header main-bar-wraper  navbar-expand-lg">
                <div class="main-bar">
                       <div class="container clearfix">

                            <div class="logo-header">
                                <div class="logo-header-inner logo-header-one">
                                    <a href="/home">
                                    <img src={% static 'Assets/dronza_images/logo-white.png' %} alt="" />
                                    </a>
                                </div>
                            </div>

                            <!-- NAV Toggle Button -->
                            <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar icon-bar-first"></span>
                                <span class="icon-bar icon-bar-two"></span>
                                <span class="icon-bar icon-bar-three"></span>
                            </button>

                            <div class="extra-nav header-2-nav">

                                <div class="extra-cell">
                                    <div class="header-search">
                                        <a href="javascript:void(0);" class="header-search-icon"><i class="fa fa-search"></i></a>
                                    </div>
                                </div>

                             </div>


                            <!-- MAIN Vav -->
                            <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-start">

                                 <ul class=" nav navbar-nav">

                                    <li><a href="/Home">Home</a></li>
                                    <li><a href="/Portfolio">Portfolio</a></li>
                                    <li><a href="/blog">Blog</a></li>

                                </ul>

                            </div>

                            <!-- SITE Search -->
                            <div id="search-toggle-block">
                                <div id="search">
                                    <form role="search" id="searchform" action="" method="get" class="radius-xl">
                                        <div class="input-group">
                                            <input class="form-control" value="" name="q" type="search" placeholder="Type to search"/>
                                            <span class="input-group-append"><button type="button" class="search-btn"><i class="fa fa-search"></i></button></span>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

            </div>

        </header>
        <!-- HEADER END -->

        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({% static  'Assets/dronza_images/banner/1.jpg'%});">
            	<div class="overlay-main site-bg-primary opacity-09"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-white">Sohaib's blog</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/blog">Home</a></li>
                                    <li>Blog</li>
                                </ul>
                            </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->

            <!-- OUR BLOG START -->
            <div class="section-full  p-t80 p-b50 bg-white" style="transform: none;">
				<div class="container" style="transform: none;">

                    <!-- BLOG SECTION START -->
                    <div class="section-content" style="transform: none;">
                        <div class="row d-flex justify-content-center" style="transform: none;">

                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 blog-list-style-outer">
                                <!--Block one-->
                                     {% if BLOGDATA %}
                                      {% for post in BLOGDATA %}
                                <div class="blog-post blog-style-1 blog-list-style">
									<div class="wt-post-media wt-img-effect zoom-slow">
                                        <a href="/ViewDetail/{{ post.sNo }}/blogDetail"><img src="{{ MEDIA_URL }}{{ post.Icon }}" alt="{{ post.tags }}"></a>
                                    </div>
                                    <div class="wt-post-info">
                                        <div class="wt-post-meta">
                                            <ul>
                                                <li class="post-date">{{ post.created_at }}</li>
                                            </ul>
                                        </div>
                                        <div class="wt-post-title">
                                            <h3 class="post-title"><a href="/ViewDetail/{{ post.sNo }}/blogDetail">{{ post.title }}</a></h3>
                                        </div>
                                        <div class="wt-post-text">
                                            <p>{{ post.heading }}</p>
                                        </div>
                                        <div class="wt-post-readmore ">
                                            <a href="/ViewDetail/{{ post.sNo }}/blogDetail" class="site-button-link black">Read More</a>
                                        </div>
                                   </div>
                                </div>
                                {% endfor %}
                             {% else %}

                            <div class="row text-center mt-5">
                                <h2 class="text-greeno"><i class="fa fa-blog"></i>Sorry! No post found</h2>
                                <p class="h5">Your search did not match any documents.</p>
                            </div>
                            <div>
                                <ul>
                                    <strong>Suggestions:</strong>
                                    <li>Make sure that all words are spelled correctly</li>
                                    <li>Try different keywords</li>
                                    <li>Try more general keywords</li>
                                    <li>Try fewer keywords</li>
                                </ul>
                            </div>

                        {% endif %}

                            </div>




                            <!-- SIDE BAR START -->
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 rightSidebar  m-b30" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">



                            <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;"><aside class="side-bar">

                                       <!-- SEARCH -->
                                       <div class="widget p-a20">
                                            <div class="search-bx">
                                                <form role="search" method="POST" action="/search_blog">
                                                    {% csrf_token %}
                                                    <div class="input-group">
                                                        <input name="search_keyword" type="text" class="form-control" placeholder="search...">
                                                        <span class="input-group-btn">
                                                            <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>

                                       <!-- RECENT POSTS -->
                                       <div class="widget recent-posts-entry p-a20">
                                            <div class="text-left m-b30">
                                                <h3 class="widget-title">Recent Posts</h3>
                                            </div>
                                            <div class="section-content">
                                                <div class="widget-post-bx">
                                                {% if RCPST %}
                                                     {% for data in RCPST %}
                                                    <div class="widget-post clearfix">
                                                        <div class="wt-post-media">
                                                            <a href="/ViewDetail/{{ data.sNo }}/blogDetail"><img src="{{ MEDIA_URL }}{{ data.Icon }}" alt=""></a>
                                                        </div>
                                                        <div class="wt-post-info">
                                                            <div class="wt-post-meta">
                                                                <ul>
																	<li class="post-date">{{ data.created_at }}</li>
                                                                </ul>
                                                            </div>
                                                            <div class="wt-post-header">
                                                                <span class="post-title"> <a href="/ViewDetail/{{ data.sNo }}/blogDetail">{{ data.title }}</a></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                 {% else %}
                                            <h6 class="ml-3"><strong>No Post Available</strong></h6>
                                        {% endif %}
                                                </div>
                                            </div>
                                        </div>




                                       <!-- TAGS -->
                                       <div class="widget widget_tag_cloud p-a20">
                                            <div class="text-left m-b30">
                                                <h3 class="widget-title">Tags</h3>

                                            </div>

                                              <div class="tagcloud">
                                                <a href="javascript:void(0);">Python</a>
                                                <a href="javascript:void(0);">Django </a>
                                                <a href="javascript:void(0);">Metaverse</a>
                                                <a href="javascript:void(0);">Computer Vision</a>
                                                <a href="javascript:void(0);">Flask</a>
                                                <a href="javascript:void(0);">Fast API</a>
                                                <a href="javascript:void(0);">Rest Framework</a>
                                                <a href="javascript:void(0);">Celery</a>
                                                <a href="javascript:void(0);">AI</a>
                                                <a href="javascript:void(0);">Machine Learning</a>
                                            </div>
                                        </div>


                                   </aside></div></div>
                            <!-- SIDE BAR END -->


                        </div>

                     <ul class="pagination m-b0 p-b0 bg-light">

                            {% if BLOGDATA.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{ BLOGDATA.previous_page_number }}">Previous</a></li>
                            {% endif %}

                       <li class="page-item"><a class="page-link" href="/blog?page=1">First</a></li>


                        {% for tpl in pageList %}
                          <li class="page-item"><a class="page-link" href="/blog?page={{ tpl }}">{{ tpl }}</a></li>
                        {% endfor %}

                        {% if BLOGDATA.has_next  %}
                          <li class="page-item"><a class="page-link" href="?page={{ BLOGDATA.next_page_number }}">Next</a></li>
                          <li class="page-item"><a class="page-link" href="?page={{ lastPage }}">Last</a></li>
                            {% endif %}

                        </ul>



                    </div>

                </div>

             </div>
            <!-- OUR BLOG END -->



        </div>
        <!-- CONTENT END -->

       <!-- FOOTER START -->
        <footer class="site-footer footer-large footer-dark text-white footer-style1" >


            <!-- FOOTER BLOCKES START -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6">

                            <div class="widget recent-posts-entry">
                                <h3 class="widget-title">Get in Touch</h3>
                               <ul class="widget_address">
                                    <li><i class="fa fa-map-marker"></i>F5 44000 Islamabad</li>
                                    <li><i class="fa fa-envelope"></i>contact@sohaibaslam.com</li>
                                    <li> <i class="fa fa-phone"></i>(+92) 344-427-747</li>
                                </ul>
                            </div>


                        </div>


                      <div class="col-lg-3 col-md-6">

                            <div class="widget recent-posts-entry">
                                <h3 class="widget-title">Useful links</h3>
                               <ul class="widget_address">
                                    <li><i class="fa fa-balance-scale"></i>Terms & condition</li>
                                    <li><i class="fa fa-lock"></i>Privacy Policy</li>
                                    <li><i class="fa fa-question"></i>FAQ</li>
                                </ul>
                            </div>


                        </div>



        <div class="col-lg-3 col-md-6">
							<div class="widget recent-posts-entry">
                                <h3 class="widget-title">Social Platforms</h3>
                                <div class="section-content">
                                    <div class="widget-post-bx">



                                       <div class="widget recent-posts-entry">

                               <ul class="widget_address">
                                    {% for data in SMDT %}
                                    <li><i class="fa fa-balance-scale"></i><a href="{{ data.github }}" target="_blank"><span class="link_color">Github</span></a></li>
                                    <li><i class="fa fa-question"></i><a href="{{ data.linkedin }}" target="_blank"><span class="link_color">Linkedin</span></a></li>
                                    <li><i class="fa fa-question"></i><a href="{{ data.youtube }}" target="_blank"><span class="link_color">Youtube</span></a></li>
                                    {% endfor %}
                                </ul>
                                     </div>



                                    </div>
                                </div>
                            </div>
                        </div>




                              <div class="col-lg-3 col-md-6">
							<div class="widget recent-posts-entry">
                                <h3 class="widget-title">Recent Post</h3>
                                <div class="section-content">
                                    <div class="widget-post-bx">

                                        {% for data in footer_recent %}

                                        <div class="widget-post clearfix">
                                            <div class="wt-post-media">
                                                <img src="{{ MEDIA_URL }}{{ data.Icon }}" alt="">
                                            </div>
                                            <div class="wt-post-info">
                                                <div class="wt-post-meta">
                                                    <ul>
                                                        <li class="post-author">{{ data.created_at }}</li>
                                                    </ul>
                                                </div>
                                                <div class="wt-post-header">
                                                    <a href="javascript:;" class="post-title">{{ data.heading }}</a>
                                                </div>
                                            </div>
                                        </div>

                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
                   <!-- FOOTER COPYRIGHT -->

            <div class="footer-middle">

           	 	<div class="container">
                    <div class="footer-middle-content">
                        <div class="logo-footer">
                            <img src={% static 'Assets/dronza_images/logo-light.png' %} alt="" />
                        </div>

                        <ul class="copyrights-nav">
                            <span class="copyrights-text"><span class="site-text-primary">copyright</span> © 2022</span>
                        </ul>

                        <ul class="social-icons  wt-social-links footer-social-icon">
                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="footer-bottom">
            </div>


        </footer>
        <!-- FOOTER END -->



        <!-- BUTTON TOP START -->

    </div>

<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-loader"></div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->
</div>
</body>

<!-- JAVASCRIPT  FILES ========================================= -->
<script  src={% static 'Assets/dronza_js/jquery-2.2.0.min.js' %}></script><!-- JQUERY.MIN JS -->
<script  src={% static 'Assets/dronza_js/popper.min.js' %}></script><!-- POPPER.MIN JS -->
<script  src={% static 'Assets/dronza_js/bootstrap.min.js' %}></script><!-- BOOTSTRAP.MIN JS -->
<script  src={% static 'Assets/dronza_js/bootstrap-select.min.js' %}></script><!-- Form js -->
<script  src={% static 'Assets/dronza_js/magnific-popup.min.js' %}></script><!-- MAGNIFIC-POPUP JS -->
<script  src={% static 'Assets/dronza_js/waypoints.min.js' %}></script><!-- WAYPOINTS JS -->
<script  src={% static 'Assets/dronza_js/counterup.min.js' %}></script><!-- COUNTERUP JS -->
<script  src={% static 'Assets/dronza_js/waypoints-sticky.min.js' %}></script><!-- STICKY HEADER -->
<script  src={% static 'Assets/dronza_js/isotope.pkgd.min.js' %}></script><!-- MASONRY  -->
<script  src={% static 'Assets/dronza_js/owl.carousel.min.js' %}></script><!-- OWL  SLIDER  -->
<script  src={% static 'Assets/dronza_js/stellar.min.js' %}></script><!-- PARALLAX BG IMAGE   -->
<script  src={% static 'Assets/dronza_js/theia-sticky-sidebar.js' %}></script><!-- STICKY SIDEBAR  -->
<script  src={% static 'Assets/dronza_js/jquery.bootstrap-touchspin.js' %}></script><!-- FORM JS -->
<script  src={% static 'Assets/dronza_js/custom.js' %}></script><!-- CUSTOM FUCTIONS  -->
<script  src={% static 'Assets/dronza_js/jquery.bgscroll.js' %}></script><!-- BACKGROUND SCROLL -->
<script src={% static 'Assets/dronza_js/slick.js' %}></script>
<script src={% static 'Assets/dronza_js/jquery-ui.js' %}></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4624S4W40X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4624S4W40X');
</script>

<div id="fb-root"></div>


</html>
