<!DOCTYPE html>
{% load i18n%}

{% load static %}

<head>

    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="author" content="sohaib aslam">
    <meta name="robots" content="index, follow">
    {% for seo in SEOTAGS %}
    {% block title %}<title>{{ seo.title }}</title>{% endblock title %}
    <meta name="description" content="{{ seo.description }}">
    <meta name="keywords" content="{{ seo.tags }}">
    <link rel="canonical" href="{{ seo.canonical_link }}">
    {% endfor %}

    <!-- FAVICONS ICON -->
    <link rel="icon" href={% static 'Assets/dronza_images/favicon.html' %} type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href={% static 'Assets/dronza_images/favicon.png' %} />

    <!-- PAGE TITLE HERE -->

    <!-- MOBILE SPECIFIC -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/bootstrap.min.css' %}>
<!-- DISTORTION FONT STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/sohaib_frontpage.css' %}>
    <!-- FONTAWESOME STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/fontawesome/css/font-awesome.min.css' %}>

    <!-- OWL CAROUSEL STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/owl.carousel.min.css' %}>

    <!-- SLICK SLIDER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/slick.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/slick-theme.css' %}>
    <!-- BOOTSTRAP SLECT BOX STYLE SHEET  -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/bootstrap-select.min.css' %}>
    <!-- MAGNIFIC POPUP STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/magnific-popup.min.css' %}>
    <!-- LOADER STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/loader.min.css' %}>
    <!-- MAIN STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/style.css' %}>
        <!-- FLATICON STYLE SHEET -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_css/flaticon.min.css' %}>
    <!-- THEME COLOR CHANGE STYLE SHEET -->
    <link rel="stylesheet" class="skin" type=text/css" href={% static 'Assets/dronza_css/skin/skin-1.css' %}>
    <!-- SIDE SWITCHER STYLE SHEET -->






     <!-- REVOLUTION SLIDER CSS -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_plugins/revolution/revolution/css/settings.css' %}>
    <!-- REVOLUTION NAVIGATION STYLE -->
    <link rel="stylesheet" type="text/css" href={% static 'Assets/dronza_plugins/revolution/revolution/css/navigation.css' %}>

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">

<style>
    .link_color{
        color: whitesmoke;
    }
</style>

</head>

<body>


    <div class="page-wraper">

        <!-- HEADER START -->
        <header class="site-header header-style-4 mobile-sider-drawer-menu">

           <div class="sticky-header main-bar-wraper  navbar-expand-lg">
                <div class="main-bar">
                       <div class="container clearfix">

                             <div class="logo-header">
                                <div class="logo-header-inner logo-header-one">
                                    <a href="/">
                                    <img src={% static 'Assets/dronza_images/logo-light.png' %} alt="" />
                                    </a>
                                </div>
                            </div>

                            <!-- NAV Toggle Button -->
                            <button id="mobile-side-drawer" data-target=".header-nav" data-toggle="collapse" type="button" class="navbar-toggler collapsed">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar icon-bar-first"></span>
                                <span class="icon-bar icon-bar-two"></span>
                                <span class="icon-bar icon-bar-three"></span>
                            </button>


                            <!-- MAIN Vav -->
                            <div class="nav-animation header-nav navbar-collapse collapse d-flex justify-content-start">

                                <ul class=" nav navbar-nav">

                                    <li><a href="/"><span class="common-color">Home</span></a></li>
                                    <li><a href="/Portfolio" target="_blank"><span class="common-color">Portfolio</span></a></li>
                                        <li><a href="/blog"><span class="common-color">Blog</span></a></li>
                                        <li><a href="/PIAIC"><span class="common-color">PIAIC</span></a></li>


                                     {% if user.is_authenticated %}
                                            <li><a href="/admin"><span class="common-color">Admin Panel</span></a></li>
                                    {% else %}

                                    {% endif %}

                                </ul>

                            </div>
                        </div>
                    </div>

            </div>

        </header>
        <!-- HEADER END -->

        <!-- CONTENT START -->
        <div class="page-content">

            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({% static  'Assets/dronza_images/slide1.jpg'%});">
{#            	<div class="overlay-main site-bg-primary opacity-09"></div>#}
                <div class="container">
                    <div class="row">

                        <div class="col-md-8">
                        <div class="content">
                            {% blocktrans %}
                            <h4 class="text-white"> SOHAIB_ASLAM</h4>
                            <h5 class="common-color">Python | Django | Postgres | Metaverse Researcher</h5>
                            <p class="text-white">Working in Python and frameworks also studying Metaverse at PIAIC</p>
                            {% endblocktrans %}
                              <div class="quality-video-section">
                            <div class="quality-video">
                                 <a href="#" class="mfp-video play-now">
                           <i class="icon fa fa-play"></i>
                                    <span class="ripple"></span>
                                </a>
                            </div>
                        </div>

                        </div>
                        </div>

                        <div class="col-md-4" style="margin-top: 120px;">
                        <div class="sohaib-img">
                            <img class="sohaib-img" src="{% static 'Assets/dronza_images/sohaib.jpg' %}" alt="">
                        </div>
                        </div>



                    </div>
                        <!-- BREADCRUMB ROW -->

                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->




{% block content %}  {% endblock content %}





        <!-- FOOTER START -->
        <footer class="site-footer footer-large footer-dark text-white footer-style1" >


            <!-- FOOTER BLOCKES START -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-3 col-md-6">

                            <div class="widget recent-posts-entry">
                                <h3 class="widget-title">Get in Touch</h3>
                               <ul class="widget_address">
                                    <li><i class="fa fa-map-marker"></i>F5 44000 Islamabad, Pakistan</li>
                                    <li><i class="fa fa-envelope"></i>contact@sohaibaslam.com</li>
                                    <li> <i class="fa fa-phone"></i>(+92) 344-427-747</li>
                                </ul>
                            </div>


                        </div>


                      <div class="col-lg-3 col-md-6">

                            <div class="widget recent-posts-entry">
                                <h3 class="widget-title">Useful links</h3>
                               <ul class="widget_address">
                                    <li><i class="fa fa-home"></i> Home</li>
                                    <li><i class="fa fa-lock"></i>Portfolio</li>
                                    <li><i class="fa fa-question"></i>Blog</li>
                                </ul>
                            </div>


                        </div>



        <div class="col-lg-3 col-md-6">
							<div class="widget recent-posts-entry">
                                <h3 class="widget-title">Social Platforms</h3>
                                <div class="section-content">
                                    <div class="widget-post-bx">
                                       <div class="widget recent-posts-entry">
                               <ul class="widget_address">
                                    {% for data in social_media %}
                                    <li><i class="fa fa-balance-scale"></i><a href="{{ data.github }}" target="_blank"><span class="link_color">Github</span></a></li>
                                    <li><i class="fa fa-question"></i><a href="{{ data.linkedin }}" target="_blank"><span class="link_color">Linkedin</span></a></li>
                                    <li><i class="fa fa-question"></i><a href="{{ data.youtube }}" target="_blank"><span class="link_color">Youtube</span></a></li>
                                    {% endfor %}
                                </ul>
                                     </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6">
							 <img src={% static 'Assets/dronza_images/logo-light.png' %} alt="" />
                        </div>


                    </div>
                </div>
            </div>


            <!-- FOOTER COPYRIGHT -->

            <div class="footer-middle">

           	 	<div class="container">
                    <div class="footer-middle-content">
                        <div class="logo-footer">
                            <img src={% static 'Assets/dronza_images/logo-light.png' %} alt="" />
                        </div>

                        <ul class="copyrights-nav">
                            <span class="copyrights-text"><span class="site-text-primary">copyright</span> © 2022</span>
                        </ul>

                        <ul class="social-icons  wt-social-links footer-social-icon">
                            <li><a href="javascript:void(0);" class="fa fa-facebook"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-twitter"></a></li>
                            <li><a href="javascript:void(0);" class="fa fa-linkedin"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="footer-bottom">
            </div>


        </footer>
        <!-- FOOTER END -->



        <!-- BUTTON TOP START -->

    </div>

<!-- LOADING AREA START ===== -->
<div class="loading-area">
    <div class="loading-box"></div>
    <div class="loading-pic">
        <div class="cssload-loader"></div>
    </div>
</div>
<!-- LOADING AREA  END ====== -->
</div>
</body>


<!-- JAVASCRIPT  FILES ========================================= -->
<script  src={% static 'Assets/dronza_js/jquery-2.2.0.min.js' %}></script><!-- JQUERY.MIN JS -->
<script  src={% static 'Assets/dronza_js/popper.min.js' %}></script><!-- POPPER.MIN JS -->
<script  src={% static 'Assets/dronza_js/bootstrap.min.js' %}></script><!-- BOOTSTRAP.MIN JS -->
<script  src={% static 'Assets/dronza_js/bootstrap-select.min.js' %}></script><!-- Form js -->
<script  src={% static 'Assets/dronza_js/magnific-popup.min.js' %}></script><!-- MAGNIFIC-POPUP JS -->
<script  src={% static 'Assets/dronza_js/waypoints.min.js' %}></script><!-- WAYPOINTS JS -->
<script  src={% static 'Assets/dronza_js/counterup.min.js' %}></script><!-- COUNTERUP JS -->
<script  src={% static 'Assets/dronza_js/waypoints-sticky.min.js' %}></script><!-- STICKY HEADER -->
<script  src={% static 'Assets/dronza_js/isotope.pkgd.min.js' %}></script><!-- MASONRY  -->
<script  src={% static 'Assets/dronza_js/owl.carousel.min.js' %}></script><!-- OWL  SLIDER  -->
<script  src={% static 'Assets/dronza_js/stellar.min.js' %}></script><!-- PARALLAX BG IMAGE   -->
<script  src={% static 'Assets/dronza_js/theia-sticky-sidebar.js' %}></script><!-- STICKY SIDEBAR  -->
<script  src={% static 'Assets/dronza_js/jquery.bootstrap-touchspin.js' %}></script><!-- FORM JS -->
<script  src={% static 'Assets/dronza_js/custom.js' %}></script><!-- CUSTOM FUCTIONS  -->
<script  src={% static 'Assets/dronza_js/jquery.bgscroll.js' %}></script><!-- BACKGROUND SCROLL -->
<script src={% static 'Assets/dronza_js/slick.js' %}></script>
<script src={% static 'Assets/dronza_js/jquery-ui.js' %}></script>
<div id="fb-root"></div>


<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-4624S4W40X"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-4624S4W40X');
</script>
</html>
