{% extends 'home_base.html' %}
{% load static %}

{% block content %}

    <!-- OUR BLOG START -->
    <div class="section-full  p-t80 p-b50 bg-white ">
        <div class="container">

            <!-- BLOG SECTION START -->
            <div class="section-content">
                <div class="row d-flex justify-content-center">

                    <!--Block one-->
                    <div class="card">
                        <div class="card-body shadow-lg rounded">
                           <h4 class="common-color">About Me:</h4>
                            <p>I am a computer science graduate from well known University.
                                Currently working as a senior python Django developer.
                                Working on Land record digitization with Board of Revenue Gwadar and Defense Housing Authority
                               </p>
                            <p>I belongs to capital of Pakistan "ISLAMABAD". I have done few internship in python.
                                Python is my passion and the next goal is computer vision expert,
                                on other hand doing self research at metaverse technology,
                                Joined PIAIC Metaverse program.</p>
                        </div>
                    </div>


                </div>

            </div>

        </div>
        <!-- OUR BLOG END -->



    </div>
    <!-- CONTENT END -->

{% endblock content %}