{% extends 'piaic_base.html' %}
{% load static %}
{% load i18n%}
{% block title %}<title>PIAIC Attachments</title>{% endblock title %}
{% block content %}





            <!-- INNER PAGE BANNER -->
            <div class="wt-bnr-inr overlay-wraper bg-center" style="background-image:url({% static  'Assets/PIAIC/piaicbg.jpg'%});">
            	<div class="overlay-main site-bg-primary opacity-09"></div>
                <div class="container">
                    <div class="wt-bnr-inr-entry">
                    	<div class="banner-title-outer">
                        	<div class="banner-title-name">
                        		<h2 class="site-text-white">PIAIC Attachements</h2>
                            </div>
                        </div>
                        <!-- BREADCRUMB ROW -->

                            <div>
                                <ul class="wt-breadcrumb breadcrumb-style-2">
                                    <li><a href="/PIAIC">Home</a></li>
                                    <li>Attachments</li>
                                </ul>
                            </div>

                        <!-- BREADCRUMB ROW END -->
                    </div>
                </div>
            </div>
            <!-- INNER PAGE BANNER END -->


  <!-- CONTENT START -->
        <div class="page-content">

    <!-- OUR BLOG START -->
            <div class="section-full  p-t80 p-b50 bg-white ">
				<div class="container">

                    <!-- BLOG SECTION START -->
                    <div class="section-content">
                        <div class="row d-flex justify-content-center">
                        	<!--Block one-->

                            {% for Attach in Final_Attachments %}
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <!--Block one-->
                                <div class="blog-post date-style-2">

                                    <div class="wt-post-info bg-white">
                                        <div class="wt-post-meta ">
                                            <ul>
                                                <li class="post-date">{{ Attach.created_at }}</li>
                                            </ul>
                                        </div>
                                        <div class="wt-post-title ">
                                            <h3 class="post-title">{{ Attach.title }}</h3>
                                        </div>
                                         <div class="wt-post-text ">
                                            <p>{{ Attach.heading }}</p>
                                        </div>

                                        <div class="wt-post-readmore ">
                                            <a href="/ViewDetail/{{ Attach.sNo }}/Attachment_Detail" class="site-button-link black">Read More</a>
                                        </div>
                                   </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        <ul class="pagination m-b0 p-b0">

                            {% if Final_Attachments.has_previous %}
                          <li class="page-item"><a class="page-link" href="?page={{ Final_Attachments.previous_page_number }}">Previous</a></li>
                            {% endif %}

                       <li class="page-item"><a class="page-link" href="/PIAIC?page=1">First</a></li>


                        {% for tpl in pageList %}
                          <li class="page-item"><a class="page-link" href="/PIAIC?page={{ tpl }}">{{ tpl }}</a></li>
                        {% endfor %}

                        {% if Final_Attachments.has_next  %}
                          <li class="page-item"><a class="page-link" href="?page={{ Final_Attachments.next_page_number }}">Next</a></li>
                          <li class="page-item"><a class="page-link" href="?page={{ lastPage }}">Last</a></li>
                            {% endif %}

                        </ul>

                    </div>

                </div>

             </div>
            <!-- OUR BLOG END -->



        <!-- CONTENT END -->
        </div>

{% endblock content %}