{% extends 'baseAdmin.html' %}

{% load static %}

    {% block title %} <title>Update | Attachments</title> {% endblock title %}

{% block header %}

     <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-greeno">Update PIAIC Attachments</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin" class="text-greeno">Dashboard</a></li>
              <li class="breadcrumb-item text-aspire"><a href="/adminPIAIC" class="text-greeno">PIAIC Attch.</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


{% endblock header %}





{% block content %}

<div class="container-fluid">
<div class="row mt-5 mb-5 card container">

  <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
      <div class="modal-body">
            <div class="row mb-3">
                <div class="col-6">
                    <label class="white">Title</label>
                   <input type="text" name="title" class="form-control" value="{{ form.title }}" required>
                </div>
                  <div class="col-6">
                    <label class="white">Heading</label>
                  <input type="text" name="heading" class="form-control" value="{{ form.heading }}" required>
                </div>
            </div>
           <div class="row mb-3">
                  <div class="col-12">
                    <label class="white">Tags</label>
                  <input type="text" name="tags" class="form-control" value="{{ form.tags }}" required>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-6">
                    <label class="white">Instructions</label>
                   <input type="text" name="instructions" class="form-control" value="{{ form.instructions }}" required>
                </div>
                  <div class="col-6">
                    <label class="white">Instructions By</label>
                  <input type="text" name="instructions_By" class="form-control" value="{{ form.instructions_By }}" required>
                </div>
            </div>


           <div class="row mb-3">
                <div class="col-12">
                    <label class="white">Description:</label>
                    <textarea name="editor1" class="form-control"  required>{{ form.description }}</textarea>
                </div>
            </div>


      </div>

      <div class="modal-footer">
        <button type="submit" class="btn bg-greeno white">Update Attachment</button>
      </div>

             </form>
    </div>

</div>


{% endblock content %}