{% extends 'baseAdmin.html' %}

{% load static %}

    {% block title %} <title>Update | About</title> {% endblock title %}

{% block header %}

     <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-greeno">Update Experience Section</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/admin" class="text-greeno">Dashboard</a></li>
              <li class="breadcrumb-item text-aspire"><a href="/experience" class="text-greeno">Experience</a></li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


{% endblock header %}





{% block content %}

<div class="container-fluid">
<div class="row mt-5 mb-5 card container">

  <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
      <div class="modal-body">
            <div class="row mb-3">
                <div class="col-6">
                    <label class="white">Designation</label>
                    {{ form.Designation }}
                </div>
                  <div class="col-6">
                    <label class="white">Company</label>
                   {{ form.Company }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-3">
                    <label class="white">From</label>
                   {{ form.From }}
                </div>
                  <div class="col-3">
                    <label>To</label>
                    {{ form.To }}
                </div>
                 <div class="col-6">
                    <label class="white">Street</label>
                    {{ form.Street }}
                </div>
            </div>
            <div class="row mb-3">
                  <div class="col-12">
                    <label class="white">Description</label>
                    {{ form.Description }}
                </div>
            </div>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn bg-greeno white">Save Changes</button>
      </div>
             </form>
    </div>

</div>


{% endblock content %}